$primary-color: #0282F9;
$hover-color: #43a4ff;
$btn-text-color: #f1f1f1;

$header-link-color: #464646;

$main-bkg-color: #1C1C1C;
$main-text-color: #f1f1f1;

$footer-menu-color: #959595;
$footer-title-color: #f1f1f1;
$social-bar-bkg: #303030;